{% extends "index.html" %} {% block title %}Ok for real?!{% endblock %} {% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">OOOOOoooookaaaaaay</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">What are you thinking?! Trust me you do not want to miss out on all of this! I'm pretty great...</p>
      <div class="d-grid gap-5 d-sm-flex justify-content-sm-center mb-5">
        <a href="/yes"><button type="button" class="btn btn-primary btn-lg px-10 me-lg-3 green">Yes</button></a>
        <a href="/no_3/"><button type="button" class="btn btn-outline-secondary btn px-2 red">No</button></a>
      </div>
    </div>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="../static/bench.gif" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Heart Gif" width="700" height="700" loading="lazy">
      </div>
    </div>
  </div>
</div>
{% endblock %}
